In [41]:
import pandas as pd

pd.set_option('display.max_columns', None)

# Chemin vers votre fichier .log
chemin_fichier = "C:/Users/nagrimault/Downloads/log_brute.log"

# Lire les 100 premières lignes du fichier .log
with open(chemin_fichier, 'r') as f:
    #logs = f.readlines()
    logs = [next(f).strip() for _ in range(100)]
        

# Créer une liste de dictionnaires pour stocker les données
donnees = []

# Parcourir les lignes de journal et extraire les informations
for log in logs:
    # Diviser la ligne en fonction des espaces (ou d'autres délimiteurs si nécessaire)
    elements = log.split()
    # Créer un dictionnaire avec les informations de la ligne
    ligne_donnees = {
        'Mois': elements[0] if len(elements) > 0 else '',
        'Jour': elements[1] if len(elements) > 1 else '',
        'Heure': elements[2] if len(elements) > 2 else '',
        'Ip': elements[3] if len(elements) > 3 else '',
        'A enlever': elements[4] if len(elements) > 4 else '', # kernel à enlever
        'Kernel': elements[5] if len(elements) > 5 else '', 
        'Status': elements[6] if len(elements) > 6 else '',
        'FW': elements[7] if len(elements) > 7 else '',
        'Rule': elements[8] if len(elements) > 8 else '',
        'In': elements[9] if len(elements) > 9 else '',
        'Out': elements[10] if len(elements) > 10 else '',
        'Mac': elements[11] if len(elements) > 11 else '',
        'SRC': elements[12] if len(elements) > 12 else '',
        'Dist': elements[13] if len(elements) > 13 else '',
        'Len': elements[14] if len(elements) > 14 else '',
        'Tos': elements[15] if len(elements) > 15 else '',
        'Prec': elements[16] if len(elements) > 16 else '',
        'TTL': elements[17] if len(elements) > 17 else '',
        'ID': elements[18] if len(elements) > 18 else '',
        'Proto': elements[19] if len(elements) > 19 else '',
        'SPT': elements[20] if len(elements) > 20 else '',
        'DPT': elements[21] if len(elements) > 21 else '',
        'Window': elements[22] if len(elements) > 22 else '',
        'Res': elements[23] if len(elements) > 23 else '',
        'ColSyn': elements[24] if len(elements) > 24 else '',
        'Urgp': elements[25] if len(elements) > 25 else ''
    }
    
    donnees.append(ligne_donnees)

# Créer un DataFrame à partir de la liste de dictionnaires
df = pd.DataFrame(donnees)

# Appliquer la fonction lambda pour extraire la partie après "=" uniquement pour la colonne "MAC"
df['Mac'] = df['Mac'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['FW'] = df['FW'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Rule'] = df['Rule'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['In'] = df['In'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Out'] = df['Out'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['SRC'] = df['SRC'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Dist'] = df['Dist'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Tos'] = df['Tos'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Prec'] = df['Prec'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['TTL'] = df['TTL'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['ID'] = df['ID'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['SPT'] = df['SPT'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['DPT'] = df['DPT'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Window'] = df['Window'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)
df['Res'] = df['Res'].apply(lambda x: x.split('=')[1] if isinstance(x, str) else x)

df['Len'] = df['Len'].str.split('=').str[1]
df['Proto'] = df['Proto'].str.split('=').str[1]
df['Urgp'] = df['Urgp'].str.split('=').str[1]

df.drop(columns=['A enlever'], inplace=True)

col_a_drop = ["Kernel","Ip","Mac","FW","Len","TTL","ID","Window","Res","ColSyn","Urgp","Tos","Prec","Res"]
df.drop(columns=col_a_drop, inplace=True)

# Afficher les premières lignes du DataFrame
df.head()

,Mois,Jour,Heure,Status,Rule,In,Out,SRC,Dist,Proto,SPT,DPT
0,Mar,20,01:29:24,DENY,999,eth0,,94.102.61.47,159.84.146.99,TCP,52502,3178
1,Mar,20,01:29:25,DENY,999,eth0,,176.111.174.85,159.84.146.99,TCP,48739,2231
2,Mar,20,01:29:27,PERMIT,1,eth0,,66.249.65.106,159.84.146.99,TCP,50501,443
3,Mar,20,01:29:34,DENY,999,eth0,,89.248.163.75,159.84.146.99,TCP,43312,8845
4,Mar,20,01:29:38,DENY,7,eth0,,42.58.163.244,159.84.146.99,TCP,9746,23

In [43]:
df["Proto"].value_counts()

Proto
TCP    53
Name: count, dtype: int64

In [42]:
df.describe()

,Mois,Jour,Heure,Status,Rule,In,Out,SRC,Dist,Proto,SPT,DPT
count,100,100,100,100,100,100,100,100,100,53,100,100
unique,1,1,86,2,5,1,1,46,1,1,41,86
top,Mar,20,01:37:23,PERMIT,1,eth0,,34.30.180.51,159.84.146.99,TCP,TCP,443
freq,100,100,4,60,58,100,100,18,100,53,47,13

In [3]:
df.to_csv('C:/Users/nagrimault/Downloads/final.csv', index=False)